.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.labelFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textArea {
  max-height: 80px;
  min-height: 80px;
}
.dutiesArea {
  max-height: 70px;
  max-width: 100%;
}
.overflow {
  overflow: scroll;
  height: 259px;
}
