#reactLogo {
  height: 3rem;
  width: auto;
}
.rowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
