.inputLabelsWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#formStructure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.inputBoxes {
  height: 3vh;
  width: 18vw;
  border-radius: 5px;
  border: solid black 1px;
  -moz-appearance: textfield;
  appearance: textfield;
}
.textAreas {
  min-height: 9vh;
  min-width: 18vw;
  max-width: 18vw;
}
.nextButtons {
  height: 5vh;
  width: 18vw;
  border-radius: 0;
  border: none;
  font-size: 1.5rem;
}
.invalid {
  border: solid 3px rgb(255, 113, 137);
}
.valid {
  border: solid 3px rgb(113, 255, 97);
}
