.headingText {
  font-size: 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.regularText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}
.smallerText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
}
.wrappingBodyText {
  max-height: 75px;
  overflow: hidden;
  padding-right: 10px;
  background-color: yellow;
}
.wrappingLeftSections {
  width: 120px;
  height: 100px;
  overflow: hidden;
}
.spacingContacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}
