.headingText {
  font-size: 38px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.regularText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
}
.smallerText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
}
.wrappingBodyText {
  height: 85px;
  width: 300px;
  overflow: hidden;
  padding-right: 10px;
}
.wrappingExperience {
  height: 147px;
  overflow: hidden;
}
.wrappingLeftSections {
  width: 120px;
  height: 100px;
  overflow: hidden;
  color: white;
  padding-left: 65px;
  margin-top: 22.5px;
}
.wrappingRightSections {
  width: 300px;
  margin-top: 10px;
  margin-left: 75px;
}
.wrappingSkills {
  width: 120px;
  height: 120px;
  overflow: hidden;
  color: white;
  padding-left: 65px;
}
.spacingContacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin-bottom: 35px;
  overflow: hidden;
}
.spacingColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
  overflow: hidden;
}
.flexLine {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
